*{
    margin: 0%;
    padding: 0%;
}

.conteiner {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to left, var(--primary-color) 0, var(--primary-color) 50%, var(--third-color) 50%);
}

.conteiner__left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.conteiner__logo{
    margin: 10px;
    height: 50px;
    position: fixed;
}

.conteiner__text{
    width: 500px;
    color: var(--primary-color);
}

.conteiner__text h3 {
    color: var(--secund-color);
}

.conteiner__login__right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}


.conteiner__login{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--third-color);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
} 

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.conteiner__password {
    display: flex;
    gap: 3rem;
    padding: 0 0 10% 0;
    color: var(--secund-color);
}

.conteiner__login__size button {
    width: 150px;
}

a{
    color: var(--secund-color);
}




