button{
    border-radius: 5px;
    border-color: black;
    font-weight: bold;
    border: none;
    padding: 15px;
    background-color: var(--primary-color);
}

button:hover{
    transition: 0.5s;
    background-color: var(--secund-color);
    color: var(--third-color);
    text-decoration-line: underline;
}