*{
    margin: 0%;
    padding: 0%;
}

:root{
    --primary-color: #ffffff;
    --secund-color: #d4d4d4; 
    --third-color: #162c38;
    --fourth-color: #687e8a;
}

h1{
    font-size: 2.5rem;
    color: var(--primary-color);
}

label{
    font-size: 1.2rem;
}